<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="evilOracle.xdInsertOracleMapper">

	<insert id="insertXdOracle" parameterType="List">
		insert into UCMD_TGJ_INTERFACE
		(
		id,cityname,callingnumber,callednumber,starttalktime,talktime,createtime,type
		)
		<foreach collection="list" item="item" index="index" separator="UNION">
			SELECT
			sys_guid(),
			#{item.cityname,jdbcType=VARCHAR},
			#{item.callingnumber,jdbcType=VARCHAR},
			#{item.callednumber,jdbcType=VARCHAR},
			to_date(#{item.starttalktime},'YYYY-MM-DD HH24:MI:SS'),
			#{item.talktime,jdbcType=VARCHAR},
			sysdate,
			4
			FROM dual
		</foreach>
	</insert>


	<insert id="insertXdMysql" parameterType="List">
        insert into cdr_excel_xd_info(
        	cityname,callingnumber,callednumber,starttalktime,talktime,createtime,type
        )
        values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.cityname,jdbcType=VARCHAR},
			#{item.callingnumber,jdbcType=VARCHAR},
			#{item.callednumber,jdbcType=VARCHAR},
			date_format(#{item.starttalktime},'%Y-%m-%d %h:%i:%s'),
			#{item.talktime,jdbcType=VARCHAR},
			date_format(now(),'%Y-%m-%d %h:%i:%s'),
			4)
		</foreach>

	</insert>
</mapper>